/* Import all base styles. */
@import './all/all.css';
@import 'vis/dist/vis-timeline-graph2d.min.css';
.vis-item.green {
    background-color: greenyellow;
    border-color: green;
  }
  .vis-item.blue {
    background-color: rgb(230, 173, 222);
    border-color: rgb(255, 0, 247);
  }